=title-option
  margin: 0
  .date
    color: $sub-text-color
    letter-spacing: 0.2em
    font:
      family: $main-font
  .article_tags
    float: right
    text-align: right
    margin: 0 0 20px
    a
      letter-spacing: 0.1em
      color: $sub-text-color
      font:
        family: $main-font
      margin: 
        left: 10px
        bottom: 10px
      &:hover
        color: $link-color
  +max-screen(375px)
    .article_tags
      float: none
      text-align: left
      margin: 0 0 0px
      a
        margin: 0 10px 0 0
    .date
      display: block
      margin: 0 0 15px
