@import colors
@import bourbon
@import mixins
@import media-queries
@import url(//fonts.googleapis.com/css?family=Cutive+Mono|Tinos|Inconsolata)

// Write Custom Bootstrap Styles

$font-family-sans-serif: "Lato", Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif

$link-color: $pp_blue
$text-color: $main_color

$navbar-default-bg: $main_color
$navbar-default-brand-color: white
$navbar-default-brand-hover-color: #ffc
//$navbar-default-brand-hover-bg: white
//$navbar-default-bg: $base02
$navbar-default-link-color:  $base01
$navbar-default-link-hover-color: $base2
$navbar-default-link-active-color: $base2

$body-bg: $base_color

$breadcrumb-separator: '›'
$breadcrumb-bg: $base_color
$breadcrumb-color: #ccc

//$text-color: darken($pp_brown, 24%)

$pre-bg: none
$pre-color: none
$pre-border-color: none
$pre-scrollable-max-height: none

@import bootstrap
@import code_highlight

// Write Other Styles

.breadcrumb
  padding: 0
  margin: 0 0 50px
  a
    color: #ccc
    font:
      size: 11px
+max-screen(320px)
  .breadcrumb
    margin: 0 0 1.6em

pre
  +border-top-radius(6px)
  +border-bottom-radius(6px)
  background:
    color: #fff
  font:
    family: Inconsolata
    size: 14px
  border: 1px solid #eee
  margin: 0 0 1.6em

.navbar
  .navbar-toggle
    background: #eee
    padding: 6px 10px
  .navbar-brand
    font:
      family: 'Tinos', serif
  //ul.nav li a
    font:
      family: 'Tinos', serif

.img-thumbnail
  background:
    color: white

body
  padding: 64px 0 0
  line-height: 1.8

#main
  margin: 0 0 10px
.logo_area
  margin: 0 0 40px
  padding: 60px 0
  text-align: center
  h1
    margin: 0
    padding: 0
    color: $base02
    font:
      size: 400%
      family: 'Tinos', serif
    a
      color: $text-color
      &:hover
        color: $green
        text-decoration: none
    small
      display: block
      margin: 20px 0 
      padding: 0 
      font:
        size: 16px

+max-screen(320px)
  .logo_area
    padding: 40px 0
    margin: 0 0 20px
    h1
      font:
        size: 240%

.main_image
  margin: 0 0 1.6em

.article_body
  h2, h3, h4, h5
    margin: 0
    padding: 0
  h2
    //color: $green
    border:
      left: 5px solid $green
    line-height: 1em
    margin: 40px 0
    padding: 0 0 0 12px
    font:
      size: 160%
  h3
    margin: 30px 0
    font:
      size: 140%
  h4
    margin: 20px 0
    font:
      size: 130%
  h5
    margin: 20px 0
    font:
      size: 120%
  p
    line-height: 1.8em
    margin: 0 0 1.8em
    font:
      family: $font-family-sans-serif
      size: 110%
  ul, ol
    margin: 0 0 20px
    padding: 0 0 0 25px
    li
      line-height: 1.4em
      margin: 0 0 10px
      font:
        size: 110%
  strong
    +linear-gradient(transparent 0, transparent 60%, $linear_color 60%, $linear_color 100%)

.article_body > h2:first-child
  margin:
    top: 0 
  padding:
    top: 0

.articles
  .article_info
    margin: 40px 0
    padding: 40px 0
    border-bottom: 1px solid #eee
    .article_title
      margin: 0 0 1.6em
      h2
        margin: 0 0 15px
        padding: 0 0 0 12px
        line-height: 1.2em
        border:
          left: 7px solid $green
        font:
          size: 180%
          family: $font-family-sans-serif
        a
          color: $text-color
          transition: color 0.3s linear 0 
          &:hover
            color: $link-color
    .article_body
      h2
        border: 0px solid $base_color
        padding: 0
        color: $text-color
    .goto_article
      text-align: right
      a
        color: #ccc
        &:hover
          color: $link-color
    .help-block
      +title-option

.articles > .article_info
  margin: 0 0 40px
  padding: 0 0 40px

.bookmark
  margin: 0 0 30px
  height: 50px
  li
    float: left
    padding-top: 5px
    margin: 
      right: 10px
    &.facebook
      padding-top: 0
.disqus
  margin: 0 0 30px

.side
  .unit
    margin: 0 0 40px
    h3, h4, p, a
      color: #cacabb
      transition: color 0.4s linear 0 
    h3
      transition:
        property: color, border-bottom 
        duration: 0.6s 
        timing-function: linear 
        delay: 0 
      border-bottom: 1px solid $body-bg
      margin: 0 0 20px
      padding: 0 0 10px
      letter-spacing: 0.1em
      font:
        size: 140%
        weight: normal
        //family: 'Cutive Mono', serif
        family: 'Tinos', serif
    p
      line-height: 1.6em
      margin: 0 0 1.6em

    ul li
      margin: 0 0 10px
      line-height: 1.6em
      h4
        margin: 0
        padding: 0
        font:
          size: 110%
          weight: normal
        line-height: 1.6em
        a
          color: #ccb
          transition: color 0.4s linear 0 
    &:hover
      h3
        border-bottom: 1px solid #eee
      h3, p
        color: $text-color
      a
        color: $link-color
        &:hover
          color: $green

    &.tags h4
      font:
        //family: 'Cutive Mono', serif
        family: 'Tinos', serif
      letter-spacing: 0.1em

article
  margin: 0 0 40px
  .page_title
    margin: 0 0 20px
    padding: 0 0 10px
    h1
      margin: 0 0 15px
      padding: 0 0 15px
      font:
        size: 220%
        family: $font-family-sans-serif
      border-bottom: 1px solid #eee
      line-height: 1.2em
    .help-block
      +title-option
+max-screen(320px)
  article
    .page_title
      h1
        font:
          size: 180%

.about_me
  h2
    margin: 40px 0 20px
    padding: 0 0 10px
    border-bottom: 1px solid #eee
    font:
      family: 'Tinos', serif
      size: 200%
    &.head
      margin-top: 0

  .project, .tool
    margin: 0 0 60px
    h3
      margin: 20px 0
      padding: 0
      font:
        size: 150%
      a:hover
        color: $green

    .thumb
      margin: 0 0 20px
      display: block

    .show_detail
      text-align: right
      a
        color: #ccc
        &:hover
          color: $link-color

  p
    margin: 0 0 1.6em
    line-height: 1.6em

  ul
    margin: 0 0 20px
    padding: 0 0 0 25px
    li
      line-height: 2em
      margin: 0 0 6px
      a
        font:
          size: 130%
        &:hover
          color: $green
      &.comming-soon
        a
          color: $base1

.my_photo
  margin: 0 0 20px

.not_found
  .pager
    .next
      a
        background-color: $green
        color: white

#footer
  //height: 70px
  .copy
    text-align: center
    padding: 30px 0 
    line-height: 2em
    color: #ddd
    font:
      family: 'Tinos', serif
    a
      color: #ddd
      &:hover
        color: $green
