<nav class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-th-large"></span>
      </button>
      <a class="navbar-brand" href="/">blog.takuyan.com</a>
    </div>

    <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="/about">
            <i class="fa fa-user"></i>
            About Me
          </a>
        </li>
        <li>
          <a href="https://twitter.com/katton" target="_blank">
            <i class="fa fa-twitter-square"></i>
            Twitter
          </a>
        </li>
        <li>
          <a href="https://github.com/takuyan" target="_blank">
            <i class="fa fa-github-square"></i>
            Github
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/takuyank" target="_blank">
            <i class="fa fa-facebook-square"></i>
            Facebook
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/takuyan" target="_blank">
            <i class="fa fa-linkedin-square"></i>
            LinkedIn
          </a>
        </li>
        <li>
          <a href="http://www.amazon.co.jp/registry/wishlist/UF0B6U6P1QVK" target="_blank">
            <i class="fa fa-gift"></i>
            Gift
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
