---
layout: layout
---

<% content_for :title do %>
  About Me
<% end %>

<% content_for :header do %>
  About Me
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="my_photo">
      <%= tag :img, src: '/images/portfolio/image.jpg', class: 'img-circle img-responsive' %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="about_me">
      <h2 class="head">Takuya Kato</h2>

      <div class="article_body">
        <p>
          新しいことと、仕組み作りが大好きです。
          <br>
          じぶんの課題を解決するサービスを作るためにプログラムを書いています。
        </p>
        <p>
          ゼロからサービスを作ることが得意です。
          <br>
          そのためサーバ管理からデザイン、プログラムをひと通り嗜んでいます。
        </p>
        <p>
          "同じアイディアを持つひとが１００人、実際に作るひとが１０人、続けていけるひとが１人"という言葉が好きです。
          <br>
          <strong>アイディアはそれだけではあまり価値は無く、作ってこそ価値があるものだと考えています。</strong>
        </p>
      </div>

      <h2>Personal Projects</h2>

      <div class="project">
        <h3>
          <a href="https://proofoflife.me" target="_blank">生存証明 - Proof of Life</a>
        </h3>
        <a class="thumb" href="https://proofoflife.me" target="_blank">
          <%= tag :img, src: '/images/portfolio/proofoflife.png', class: 'img-rounded img-responsive' %>
        </a>

        <div class="article_body">
          <p>
            <strong>死ぬときに後悔しないために</strong>
            というコンセプトで運営しているサービスです。
            <br>
            遺された大切なひとにメッセージを届けることができます。
          </p>
          <p>
            色々なメディアで紹介され、日本以外のユーザが多数登録されています。
          </p>

          <div class="show_detail">
            <a href="https://proofoflife.me" target="_blank">
              <i class="fa fa-chevron-right"></i>
              詳しく見る
            </a>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>
          <a href="#" target="_blank">ビジネスモデルキャンバス.com</a>
        </h3>
        <a class="thumb" href="#" target="_blank">
          <%= tag :img, src: '/images/portfolio/businessmodelcanvas.png', class: 'img-thumbnail img-responsive' %>
        </a>
        <div class="article_body">
          <p>
            以前、Business Model Generation Canvasをウェブから簡単に作成できるサービスを作っていました。
            現在は開発を停止しています。
          </p>
          <div class="show_detail">
            <a href="#" target="_blank">
              <i class="fa fa-chevron-right"></i>
              詳しく見る
            </a>
          </div>
        </div>
      </div>

      <div class="project">
        <h3>
          <a href="#" target="_blank">Guildrive.com</a>
        </h3>
        <div class="article_body">
          <p>
            起業とは一念発起でするものなのでしょうか？
            もっと安全に確実にやる方法は？
          </p>

          <p>
            当時、Guildrive.com では
            <strong>勢い余って作ってしまったひとが主役</strong>
            です。
            <strong>ベンチャーに転職したいが時間や勇気が無いというひとの為のサービス</strong>
            を目指していました。
          </p>

          <p>
            作ってしまったひとは、同じ情熱を持つ他のひとに出会えるかもしれません。
            そのサービスに足りないものを補ってもらえるかもしれません。
          </p>

          <p>
            転職したいひとは、スキマ時間でサービスへ参加し、サービスが上手く行ってから本格的に参画することも可能ではないか、と考えていました。
          </p>
          <p>
            現在は開発を停止しています。
          </p>
        </div>
      </div>

      <div class="project">
        <h3>
          <a href="#" target="_blank">Refor.me</a>
        </h3>
        <div class="article_body">
          <p>
            DIYやリフォーム、リノベーションにおけるCookpadのような存在を目指して開発していました。
            現在は開発を停止しています。
          </p>
        </div>
      </div>

      <div class="project">
        <h3>
          <a href="#" target="_blank">ゲームブック - Gamebook</a>
        </h3>
        <a class="thumb" href="#" target="_blank">
          <%= tag :img, src: '/images/portfolio/gamebook.png', class: 'img-thumbnail img-responsive' %>
        </a>
        <div class="article_body">
          <p>
            「スライムが現れた。戦うなら３ページへ、逃げるなら６ページ」というゲームブックを、
            だれでも簡単に作れるようにするサービスを作っていました。
          </p>
          <p>
            <a href="http://www.amazon.co.jp/gp/product/4163733507/ref=as_li_ss_tl?ie=UTF8&amp;camp=247&amp;creative=7399&amp;creativeASIN=4163733507&amp;linkCode=as2&amp;tag=kattttttttton-22">「選択の科学」</a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=kattttttttton-22&amp;l=as2&amp;o=9&amp;a=4163733507" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            という本に触発されて作っていたのですが、
            <strong>現在は開発を停止しています。</strong>
          </p>

          <div class="show_detail">
            <a href="#" target="_blank">
              <i class="fa fa-chevron-right"></i>
              詳しく見る
            </a>
          </div>
        </div>
      </div>

      <h2>Contact</h2>
      <div class="article_body">
        <p>
          思うところがございましたら、
          <strong>contact[あっと]takuyan.com</strong>
          または、Twitterなどからご連絡ください。
        </p>
      </div>
    </div>
  </div>
</div>
