- content_for :title do 
  404 Page Not Found

- content_for :header do
  404
  %small
    ページがみつかりません

.row
  .col-md-8.col-md-offset-2
    .not_found
      %ul.pager
        %li.previous
          = link_to '/' do
            %i.fa.fa-chevron-left
            Back to TOP

        %li.next#suggest
          = link_to '/' do
            記事はこちら
            %i.fa.fa-chevron-right

- content_for :js do
  - # 古いURLへアクセスしたユーザへの導線
  :javascript
    var url = document.location.pathname;
    if(url.match('blog')){
      var newUrl = url.replace('/blog/', '/posts/');
      $('#suggest').html("<a href='" + newUrl + "'>記事はこちら <i class='fa fa-chevron-right' /></a>");
      $('.logo_area h1').html('301<small>Moved Permanently</small>');
    }else{
      $('#suggest').remove();
    }
