- content_for :header do
  404 Page Not Found
  %small
    ページがみつかりません

.row
  .col-md-8.col-md-offset-2
    .not_found
      %ul.pager
        %li.previous
          = link_to '/' do
            %i.fa.fa-chevron-left
            トップページへ戻る

        %li.next#suggest

- content_for :js do
  :javascript
    var url = document.location.pathname;
    if(url.match('blog')){
      var newUrl = url.replace('/blog/', '/posts/');
      $('#suggest').html("<a href='" + newUrl + "'><i class='fa fa-chevron-right' />もしかして</a>");
    }else{
      $('#suggest').remove();
    }

