<% content_for :title do %>
  404 Page Not Found
<% end %>

<% content_for :header do %>
  404
  <small>ページがみつかりません</small>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="not_found">
      <ul class="pager">
        <li class="previous">
          <a href="/">
            <i class="fa fa-chevron-left"></i>
            Back to TOP
          </a>
        </li>

        <li class="next" id="suggest">
          <a href="/">
            記事はこちら
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<% content_for :js do %>
  <script>
    // 古いURLへアクセスしたユーザへの導線
    var url = document.location.pathname;
    if (url.match('blog')) {
      var newUrl = url.replace('/blog/', '/posts/');
      $('#suggest').html("<a href='" + newUrl + "'>記事はこちら <i class='fa fa-chevron-right' /></a>");
      $('.logo_area h1').html('301<small>Moved Permanently</small>');
    } else {
      $('#suggest').remove();
    }
  </script>
<% end %>
